<p>user works!</p>

<button (click)="addUser()" class="btn btn-success">Add User</button>
<button class="btn btn-success">LogOff</button>
<table class="table table-striped 
            table-responsive table-hover">
    <thead>
        <th class="text-hide">Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let user1 of users">
            <td class="text-hide">{{ user1.id }}</td>
            <td>{{ user1.firstName  }}</td>
            <td>{{ user1.lastName  }}</td>
            <td>{{ user1.email | titlecase }}</td>
            <td>
                <button class="btn btn-danger">Delete</button>
 
                <button class="btn btn-danger">Edit</button>
            </td>
        </tr>
        <tr *ngIf="!users || users.length==0">
            <th colspan="5">
                <p class="text-right text-danger">
                    Sorry, No users available ..!
                </p>
            </th>
        </tr>
    </tbody>
</table>
{{users | json}}
